<section id="citizen-city" class="row no-pad">
  <div id="home-map">
    <div class="white-overlay"></div>
  </div>

  <div class="row-container">

    <div class="citizencity">
      <div class="title">Citizen City:</div>
      <div class="sub-title">Redefining place in ottawa 2016</div>
      <div class="join-text">
        Join Citizens Academy and Milieu to learn how you can create places for people. Placemaking is the transformative practice of creating public spaces that attract action and inspire stories. Your ideas, experiences, and passion for your city and your neighbourhood can put the wheels in motion to transform underused spaces into neighbourhood places!
      </div>

      <div class="info-tags row">
        <div class="col s12 push-l1"><%= image_tag "placemaking.png", title: "Placemaking, actions to create new urban activities" %></div>
        <div class="col s12"><%= image_tag "citizenled_collaboration.png", class: "right", title: "Citizen led collaboration, co-creating with your neighbors" %></div>
        <div class="col s12"><%= image_tag "urban_understanding.png", title: "Urban Understanding, simplifying involvment in urbanism" %></div>
        <div class="col s12 pull-l1"><%= image_tag "civic_technology.png", class: "right", title: "Civic technology, leveraging new digital tools" %></div>
      </div>

      <div class="rsvp">
      <%= link_to "https://www.eventbrite.com/e/citizen-city-2016-tickets-24396121456", class: "rsvp" do %>
        <%= image_tag "citizencity-rsvp.svg", class: "hoverable z-depth-1" %>
        <div class="save">Save the Date:</div>
        <div class="title">Citizen City 2016</div>
        <div class="where-and-when">May 15, 12:30 - 14:30 @ Mostly Danish Boutique<br/>
        1000 Wellington Street West, Ottawa
        </div>
      <% end %>
      </div>

      <div class="sponsors row hide-on-small-only">
        <div class="col s4">
          <%= link_to image_tag("citizen_academy.png"), "http://www.citizensacademy.ca/", title: "Citizen Academy", target: "_blank" %>
        </div>
        <div class="col s4">
        <%= link_to image_tag("mi_logo.png"), "http://milieu.io/", title: "Milieu", target: "_blank" %> Milieu</div>
        <div class="col s4">
          <%= link_to image_tag("archcan-logo.png"), "https://raic.org/", title: "RAIC Architecture Canada", target: "_blank" %>
        </div>
      </div>

    </div>

    <div class="survey">

      <div class="title">Share what gets you excited about ottawa</div>

      <%= form_tag("/citizensurvey", method: "post") do %>

        <div class="row">
          <div class="input-field col s12">
            <%= text_area_tag :ottawa, nil, class: "materialize-textarea" %>
            <%= label_tag :ottawa, "My Ottawa includes" %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= select_tag :hood, options_for_select(User::VALID_NEIGHBOURHOOD_TYPES) %>
            <%= label_tag :hood, "Neighboorhood I Live in" %>
          </div>
        </div>

        <div class="terms">
          By using Milieu, I agree to the <%= link_to "terms of service", "#term-modal", class: "modal-trigger" %>
        </div>

        <div class="row" style="margin-top: 15px;">
          <%= submit_tag "Submit", class: "waves-effect btn enter-map", style: "width: 100%;" %>
        </div>

        <div class="find">
          Find us on
        </div>

        <div class="row social-links">
          <div class="col s3">
            <%= link_to fa_icon("facebook"), "https://www.facebook.com/Citizen-City-969528913166479/", title: "Find us on Facebook", target: "_blank" %><br/>Facebook
          </div>
          <div class="col s3">
            <%= link_to fa_icon("twitter"), "https://twitter.com/citizencityott", title: "Find us on Twitter", target: "_blank" %><br/>Twitter
          </div>
          <div class="col s3">
            <%= link_to fa_icon("instagram"), "https://www.instagram.com/citizencityott/", title: "Find us on Instagram", target: "_blank" %><br/>Instagram
          </div>
          <div class="col s3">
            <%= link_to fa_icon("envelope-o"), "#contact-citizencity-modal", title: "Email Citizen City", class: "modal-trigger", target: "_blank" %><br/>Email
          </div>
        </div>
      <% end %>
    </div>

    <div class="sponsors row hide-on-med-and-up">
      <div class="col s12"><%= link_to image_tag("citizen_academy.png"), "http://www.citizensacademy.ca/", title: "Citizen Academy", target: "_blank" %></div>
      <div class="col s12"><%= link_to image_tag("mi_logo.png"), "http://milieu.io/", title: "Milieu", target: "_blank" %> Milieu</div>
      <div class="col s12"><%= link_to image_tag("archcan-logo.png"), "https://raic.org/", title: "RAIC Architecture Canada", target: "_blank" %></div>
    </div>

  </div>
</section>

<div id="contact-citizencity-modal" class="modal">
  <div class="modal-content">
    <%= form_tag "/contact_citizencity", id: "contact-citizencity", remote: :true do %>
      <h4>Contact Citizen City</h4>
      <div class="row">
        <div class="col input-field s12 m6">
          <%= text_field_tag 'name', nil, placeholder: 'Mark Ruffalo' %>
          <%= label_tag :name %>
        </div>
        <div class="col input-field s12 m6">
          <%= text_field_tag 'email', nil, placeholder: 'mark.ruffalo@gmail.com' %>
          <%= label_tag :email %>
        </div>
      </div>
      <div class="row">
        <div class="col input-field s12">
          <%= text_area_tag 'message', nil, class: "materialize-textarea", placeholder: 'Leave us a line here' %>
          <%= label_tag :message %>
        </div>
      </div>
      <div class="row">
        <div class="col input-field s12">
          <%= submit_tag "Send", class: "waves-effect waves-light btn modal-action modal-close right" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="term-modal" class="modal">
  <div class="modal-content">

    <b>Mission</b>

    <p>
      Milieu is a system for connecting citizens, urban developers and city officials to work together to make better planning and development decisions.
    </p>

    <p>
      Our mission is to provide people with an open platform to access, share and discuss planning and
      development in the city. This includes connecting with other people and sharing information through
      social media. By soliciting citizen feedback and aggregating the data collected from public consultations,
      we aim to facilitate participatory and effective decision-making in planning and development. We also
      aim to build a feedback loop of trust, transparency and accountability between city officials, urban
      developers and the public.
    </p>

    <p>
      As we grow and evolve in this project we want to hear from you, please send your feedback to info@milieu.io!
    </p>

    <b>Milieu Principles</b>

    <p>
      People should have the freedom and the practical tools to access information on planning and development and to connect, discuss and share this information with others.
    </p>

    <p>
      Milieu publicly makes available information about its purpose, plans, policies and operations.
    </p>

    <b>Data Policy</b>

    <p>
      Milieu reserves all intellectual property related to its processes, algorithms, methodologies and collateral materials.
    </p>

    <p>
      Public feedback through the consultation process or participation in the application will result in data
      collection. This data shall be the intellectual property of the Milieu. Any publication by Milieu of data,
      conclusions, or analysis arising from this consultation shall be at the discretion of Milieu.
    </p>

    <b>Community Standards</b>

    <p>
      By joining Milieu, you agree to authenticate yourself by using your real name and identity. By connecting
      with your authentic identity, the milieu community is more accountable and transparent. You will not
      provide any false personal information on Milieu, create more than one personal account, or create an
      account for anyone other than yourself.
    </p>

    <p>
      Be mindful of others, please do not post content or take any action on Milieu that infringes or violates
      someone else's rights or otherwise violates the law. We can remove any content or information you
      post on Milieu if we believe that it violates this Statement or our policies.
    </p>

    <p>
      Please contact us at any moment regarding questions, concerns or should you have to report something.
    </p>

    <p>
      Thank you
    </p>

    <p>
      The Milieu Team
    </p>
  </div>
</div>
