<section id="home">
  <nav>
    <div class="logo hide-on-med-and-down">
      <%= link_to image_tag("milieulogo-02.svg"), root_path, class: "nav-logo" %>
    </div>

    <ul class="right hide-on-med-and-down">
      <li><%= link_to "About Us", "http://about.milieu.io", title: "About Us" %></li>
      <li><%= link_to "Launch Consultation", "#", title: "Launch Consultation - Coming Soon" %></li>
      <% if signed_in? %>
      <li><%= link_to "Sign Out", session_path(id: "nothing"), method: :delete, title: "Sign Out" %></li>
      <% else %>
      <li><%= link_to "Sign In", "#sign-in-modal", title: "Sign In", class: "modal-trigger" %></li>
      <% end %>
      <!-- <li><%= link_to "Contact", "#contact-milieu-modal", title: "Contact Milieu", class: "modal-trigger" %></li> -->
    </ul>
  </nav>

  <div class="title">
    What’s being built in my neighbourhood?
  </div>

  <div class="subtitle hide-on-med-and-down">
    <p>
      Shape the vision of your neighborhood by commenting and voting on development projects
    </p>
    <p>
      Simplify public engagement by launching your own consultation
    </p>
  </div>

  <div class="search">
    <%= form_tag "#", method: :get do %>
      <%= fa_icon 'globe', class: 'globe' %>
      <%= text_field_tag 'search', nil, type: 'customsearch', placeholder: 'Address'  %>
      <%= button_tag fa_icon('paper-plane') %>
    <% end %>
  </div>

  <div class="featured">
    Featured Developments
  </div>

  <div class="featured-developments">
    <%= link_to "#", class: "development d1" do %>
      190 Richmond 1
    <% end %>
    <%= link_to "#", class: "development d2" do %>
      190 Richmond 2
    <% end %>
    <%= link_to "#", class: "development d3" do %>
      190 Richmond 3
    <% end %>
  </div>

  <div class="footer">
    <div class="social-media">
      <%= link_to fa_icon('medium'), "#"  %>
      <%= link_to fa_icon('facebook'), "#"  %>
      <%= link_to fa_icon('twitter'), "#"  %>
      <%= link_to fa_icon('instagram'), "#"  %>
    </div>
    <div class="business">
      <%= link_to "Terms", "#" %>
      <%= link_to "Contact", "#" %>
    </div>
  </div>
</div>
