<section id="home" class="row no-pad">
  <div class="row no-marg">
    <div class="col s12 m8 no-pad map-container">
      <div id="home-map"></div>
      <div class="overlay-info">
        <div class="row">
          <div class="col s10 push-s1 m8 push-m3 l5 push-l5">
            <a href="#" class="info-box z-depth-1 hoverable">
              <%= image_tag "consultation.png" %><div class="text">Participate in current public consultations</div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col s10 push-s1 m8 push-m1 l5 push-l1">
            <a href="#" class="info-box z-depth-1 hoverable">
              <%= image_tag "comment.png" %><div class="text">Learn more about new urban developments</div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col s10 push-s1 m8 push-m3 l5 push-l7">
            <a href="#" class="info-box z-depth-1 hoverable">
              <%= image_tag "vacant.png" %><div class="text">Start a discussion around vacant derelict sites</div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m4 push-m8 hide-on-small-only join">

      <div class="row">
        <div class="col s12">
         <h3>Start participating in your neighbourhood today.</h3>
       </div>
     </div>

      <form>
        <div class="input-field col s12">
          <input id="user" type="text">
          <label for="user">Name</label>
        </div>

        <div class="input-field col s12">
          <input id="city" type="text">
          <label for="city">City</label>
        </div>

        <div class="input-field col s12">
          <input id="hood" type="text">
          <label for="hood">Neighbourhood</label>
        </div>

        <div class="input-field col s12">
          <input id="user" type="text" placeholder="A park, less buses, bike paths ... ">
          <label for="user">Things I would like to see in my neighbourhood</label>
        </div>

      <div class="row">
        <div class="input-field col s12">
          <input type="checkbox" id="test5" />
          <label for="test5">I agree to the terms of service</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= link_to "Proceed", dev_sites_path, class: "waves-effect waves-light btn" %>
          <%= link_to "Skip", dev_sites_path, class: "waves-effect btn btn-flat" %>
        </div>
      </div>

     </form>

   </div>
 </div>
</section>


