<section id="home" class="row no-pad">
  <div id="home-map"></div>

  <div class="row-container" style="top: 84px;">

  <div class="legend">

    <div class="title">
      <b>How can you use Milieu?</b>
    </div>

    <div class="item">
      <%= image_tag "consultation.png", class: "icon" %>
      <div class="text">Participate in current public consultations</div>
    </div>

    <div class="item">
      <%= image_tag "comment.png", class: "icon" %>
      <div class="text">Learn more about new urban developments</div>
    </div>

    <div class="item">
      <%= image_tag "vacant.png", class: "icon" %>
      <div class="text">Start a discussion around vacant and derelict sites</div>
    </div>

    <div class="item">
      <%= image_tag "event.png", class: "icon" %>
      <div class="text">Explore community events</div>
    </div>

    <%= link_to "VIEW MAP", map_path, class: "mobile-view-map z-depth-1 hoverable hide-on-large-only" %>

  </div>

  <%= link_to "VIEW MAP", map_path, class: "view-map z-depth-1 hoverable hide-on-med-and-down" %>

<div class="survey">

  <div class="title">Share what gets you excited about ottawa</div>

  <%= form_tag("/survey", method: "post") do %>

    <div class="row">
      <div class="input-field col s12">
        <%= text_area_tag :ottawa, nil, class: "materialize-textarea" %>
        <%= label_tag :ottawa, "My Ottawa includes" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= select_tag :hood, options_for_select(User::VALID_NEIGHBOURHOOD_TYPES) %>
        <%= label_tag :hood, "Neighboorhood I Live in" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= submit_tag "Enter Map", class: "waves-effect btn enter-map", style: "width: 100%;" %>
      </div>

      <div class="input-field col s12 find">
        Find us on
      </div>

      <div class="input-field col s12 social-links">
        <div class="col s3">
          <%= link_to fa_icon("facebook"), "https://m.facebook.com/milieuapp/", title: "Find us on Facebook" %><br/>Facebook
        </div>
        <div class="col s3">
          <%= link_to fa_icon("twitter"), "https://twitter.com/milieucities", title: "Find us on Twitter" %><br/>Twitter
        </div>
        <div class="col s3">
          <%= link_to fa_icon("medium"), "https://medium.com/@milieucities", title: "Find us on Medium" %><br/>Medium
        </div>
        <div class="col s3">
          <%= link_to fa_icon("instagram"), "https://www.instagram.com/milieucities/", title: "Find us on Instagram" %><br/>Instagram
        </div>
      </div>
    </div>

   <% end %>

    <div class="terms">
      By using Milieu, I agree to the <%= link_to "terms of service", "#term-modal", class: "modal-trigger" %>.
    </div>
   </div>

 </div>
</section>

<div id="term-modal" class="modal">
  <div class="modal-content">

    <b>Mission</b>

    <p>
      Milieu is a system for connecting citizens, urban developers and city officials to work together to make better planning and development decisions.
    </p>

    <p>
      Our mission is to provide people with an open platform to access, share and discuss planning and
      development in the city. This includes connecting with other people and sharing information through
      social media. By soliciting citizen feedback and aggregating the data collected from public consultations,
      we aim to facilitate participatory and effective decision-making in planning and development. We also
      aim to build a feedback loop of trust, transparency and accountability between city officials, urban
      developers and the public.
    </p>

    <p>
      As we grow and evolve in this project we want to hear from you, please send your feedback to info@milieu.io!
    </p>

    <b>Milieu Principles</b>

    <p>
      People should have the freedom and the practical tools to access information on planning and development and to connect, discuss and share this information with others.
    </p>

    <p>
      Milieu publicly makes available information about its purpose, plans, policies and operations.
    </p>

    <b>Data Policy</b>

    <p>
      Milieu reserves all intellectual property related to its processes, algorithms, methodologies and collateral materials.
    </p>

    <p>
      Public feedback through the consultation process or participation in the application will result in data
      collection. This data shall be the intellectual property of the Milieu. Any publication by Milieu of data,
      conclusions, or analysis arising from this consultation shall be at the discretion of Milieu.
    </p>

    <b>Community Standards</b>

    <p>
      By joining Milieu, you agree to authenticate yourself by using your real name and identity. By connecting
      with your authentic identity, the milieu community is more accountable and transparent. You will not
      provide any false personal information on Milieu, create more than one personal account, or create an
      account for anyone other than yourself.
    </p>

    <p>
      Be mindful of others, please do not post content or take any action on Milieu that infringes or violates
      someone else's rights or otherwise violates the law. We can remove any content or information you
      post on Milieu if we believe that it violates this Statement or our policies.
    </p>

    <p>
      Please contact us at any moment regarding questions, concerns or should you have to report something.
    </p>

    <p>
      Thank you
    </p>

    <p>
      The Milieu Team
    </p>
  </div>
</div>