<section id="home">
  <nav>
    <div class="logo hide-on-med-and-down">
      <%= link_to image_tag("milieulogo-02.svg"), root_path, class: "nav-logo" %>
    </div>

    <ul class="right hide-on-med-and-down">
      <li class="overshadow"><%= link_to t('nav_bar.about_link_text'), "http://about.milieu.io", title: "About Us" %></li>
      <li class="overshadow"><%= link_to t('nav_bar.launch'), "#", title: t('nav_bar.launch'), class: 'tooltipped', data: { position: 'bottom', delay: '50', tooltip: 'Coming Soon' } %></li>
      <% if signed_in? %>
      <li class="overshadow"><%= link_to  t('nav_bar.sign_out_text'), session_path(id: current_user.id), method: :delete, title: "Sign Out" %></li>
      <% else %>
      <li class="overshadow"><%= link_to t('nav_bar.sign_in_text'), "#sign-in-modal", title: "Sign In", class: "modal-trigger" %></li>
      <% end %>
    </ul>
  </nav>

  <div class="title">
    <%= t('home.title') %>
  </div>

  <div class="subtitle hide-on-med-and-down">
    <p>
      <%= t('home.subtitle.p1') %>
    </p>
    <p>
      <%= t('home.subtitle.p2') %>
    </p>
  </div>

  <div class="search">
    <%= form_tag search_dev_sites_path, method: :post do %>
      <%= fa_icon 'map-marker', class: 'map-marker' %>
      <%= text_field_tag 'search', nil, type: 'customsearch', placeholder: t('home.search_bar_text'), class: 'search-input', autocomplete: 'off'  %>
      <%= button_tag do %>
        <%= fa_icon('search') %>
        <%= t('search_button_text') %>
      <% end %>
    <% end %>
  </div>

  <div class="featured">
    <%= t('home.featured') %>
  </div>

  <div class="featured-developments">
    <%= link_to dev_site_path(1822), class: "development d1 overshadow" do %>
      190 Richmond
    <% end %>
    <%= link_to dev_site_path(1869), class: "development d2 hide-on-small-only overshadow" do %>
      Armstrong Street Study
    <% end %>
    <!-- <%= link_to "#", class: "development d3 hide-on-med-and-down overshadow" do %>
      190 Richmond 3
    <% end %> -->
  </div>

  <div class="footer hide-on-small-only">
    <div class="localization">
      <%= link_to "EN", "/en", class: "overshadow" %> |
      <%= link_to "FR", "/fr", class: "overshadow" %>
    </div>
    <div class="social-media">
      <%= link_to fa_icon('medium'), "https://medium.com/@milieucities", title: "Find us on Medium", class: "overshadow"  %>
      <%= link_to fa_icon('facebook'), "https://facebook.com/milieuapp/", title: "Find us on Facebook", class: "overshadow"  %>
      <%= link_to fa_icon('twitter'), "https://twitter.com/milieucities", title: "Find us on Twitter", class: "overshadow"  %>
      <%= link_to fa_icon('instagram'),"https://www.instagram.com/milieucities/", title: "Find us on Instagram", class: "overshadow"  %>
    </div>
    <div class="business">
      <%= link_to "Terms", "#term-modal", class: "modal-trigger overshadow" %>
      <%= link_to t('nav_bar.contact_us_text'), "#contact-milieu-modal", class: "modal-trigger overshadow" %>
    </div>
  </div>
</div>

<div id="term-modal" class="modal" style="align-items: initial;">

  <div class="modal-content">

    <b><%= t('home.term_modal.mission') %> </b>

    <p>
      <%= t('home.term_modal.text_01') %>
    </p>

    <p>
      <%= t('home.term_modal.text_02') %>
    </p>

    <p>
      <%= t('home.term_modal.text_03') %>
    </p>

    <b><%= t('home.term_modal.principles') %></b>

    <p>
      <%= t('home.term_modal.principles_2') %>
    </p>

    <p>
      <%= t('home.term_modal.principles_2') %>
    </p>

    </p>
      <%= t('home.term_modal.text_04') %>
    <p>
      <%= t('home.term_modal.text_05') %>
    </p>

    <b><%= t('home.term_modal.data_policy') %></b>

    <p>
      <%= t('home.term_modal.text_06') %>
    </p>

    <p>
      <%= t('home.term_modal.text_07') %>
    </p>

    <p>
      <%= t('home.term_modal.text_08') %>
    </p>

    <b><%= t('home.term_modal.community_standards') %></b>

    <p>
      <%= t('home.term_modal.com_standards_1') %>
    </p>

    <p>
      <%= t('home.term_modal.com_standards_2') %>
    </p>

    <p>
      <%= t('home.term_modal.com_standards_3') %>
    </p>

    <p>
      <%= t('home.term_modal.com_standards_4') %>
    </p>

    <p>
      <%= t('home.term_modal.text_10') %>
    </p>

    <p>
      <%= t('home.term_modal.text_11') %>
    </p>

    <p>
      <%= t('home.term_modal.text_12') %>
    </p>
  </div>
</div>
