<section id="home" class="row no-pad">
  <div id="home-map"></div>

  <div class="row-container" style="top: 84px;">

  <div class="legend">

    <div class="title">
      <b>How can you use Milieu?</b>
    </div>

    <div class="item">
      <%= image_tag "consultation.png", class: "icon" %>
      <div class="text">Participate in current public consultations</div>
    </div>

    <div class="item">
      <%= image_tag "comment.png", class: "icon" %>
      <div class="text">Learn more about new urban developments</div>
    </div>

    <div class="item">
      <%= image_tag "vacant.png", class: "icon" %>
      <div class="text">Start a discussion around vacant and derelict sites</div>
    </div>

    <div class="item">
      <%= image_tag "event.png", class: "icon" %>
      <div class="text">Explore community events</div>
    </div>

    <%= link_to "VIEW MAP", map_path, class: "mobile-view-map z-depth-1 hoverable hide-on-large-only" %>

  </div>

  <%= link_to "VIEW MAP", map_path, class: "view-map z-depth-1 hoverable hide-on-med-and-down" %>

<div class="survey">

  <div class="title">
  Share what gets you excited about ottawa
  </div>
  <%= form_tag("/survey", method: "post") do %>

  <div class="row">
    <div class="input-field col s12">
      <%= text_area_tag :ottawa, nil, class: "materialize-textarea" %>
      <%= label_tag :ottawa, "My Ottawa includes" %>
    </div>

    <div class="input-field col s12">
      <%= text_area_tag :hood, nil, class: "materialize-textarea" %>
      <%= label_tag :hood, "Neighboorhood I Live in" %>
    </div>

    </div>

    <div class="row" style="margin-top: 15px;">
      <%= link_to "Enter Map", map_path, class: "waves-effect btn btn-flat", style: "width: 100%;" %>
    </div>


    <div class="row center-align">
      OR
    </div>

    <div class="input-field col s12 social-links">
      <div class="col s4"><%= link_to fa_icon("facebook"), "#" %></div>
      <div class="col s4"><%= link_to fa_icon("twitter"), "#" %></div>
      <div class="col s4"><%= link_to fa_icon("google"), "#" %></div>
    </div>

   <% end %>

    <div class="terms">
      By using Milieu, I agree to the <%= link_to "terms of service", "#" %>
    </div>
   </div>

 </div>
</section>


