<section id="home">
  <div class="nav">
    <div class="logo">
      <%= link_to image_tag("milieulogo-02.svg"), root_path, class: "logo" %>
    </div>

    <ul>
      <li><%= link_to t('nav_bar.about_link_text'), "http://about.milieu.io", title: "About Us", class: 'hide-on-small-only' %></li>
      <li><%= link_to t('nav_bar.map_link_text'), dev_sites_path, title: t('nav_bar.map_link_text') %></li>
      <!-- <li class="overshadow"><%= link_to t('nav_bar.launch'), "#", title: t('nav_bar.launch'), class: 'tooltipped hide-on-small-only', data: { position: 'bottom', delay: '50', tooltip: 'Coming Soon' } %></li> -->
      <% if signed_in? %>
        <div class="user-dropdown-container">
          <%= link_to edit_user_profile_path(current_user) do %>
            <%= avatar current_user %> <%= current_user.profile.try(:name) %>
          <% end %>
          <div class="user-dropdown">
            <%= link_to "Profile", edit_user_profile_path(current_user)  %>
            <%= link_to t('nav_bar.sign_out_text'), session_path(current_user), method: :delete, title: "Sign Out" %>
          </div>
        </div>
      <% end %>
      <% unless signed_in? %>
      <li><%= link_to t('nav_bar.sign_in_text'), "#sign-in-modal", title: "Sign In", class: "modal-trigger" %></li>
      <% end %>
      <li ><%= link_to "EN", "/en", class: "hide-on-small-only" %> </li>
      <li class="overshaddow"><%= link_to "FR", "/fr", class: "hide-on-small-only" %></li>
    </ul>
  </div>

  <div class="title">
    <%= t('home.title') %>
  </div>
  <div class="search">
    <%= form_tag dev_sites_path, method: :get, id: 'home-search' do %>
      <%= fa_icon 'map-marker', class: 'map-marker' %>
      <%= text_field_tag 'search', nil, placeholder: t('home.search_bar_text'), class: 'search-input', autocomplete: 'off'  %>
      <%= button_tag do %>
        <%= fa_icon('search') %>
        <%= t('search_button_text') %>
      <% end %>
    <% end %>
  </div>

  <div class="featured">
    <%= t('home.featured') %>
  </div>

  <div class="featured-developments">
    <%= link_to dev_sites_path(activeDevSiteId: 1822), class: "development d1 overshadow" do %>
      190 Richmond
    <% end %>
    <%= link_to dev_sites_path(activeDevSiteId: 1869), class: "development d2 hide-on-small-only overshadow" do %>
      Armstrong Street Study
    <% end %>
    <%= link_to dev_sites_path(activeDevSiteId: 1870), class: "development d3 hide-on-small-only overshadow" do %>
      Somerset House
    <% end %>
  </div>

  <div class="footer hide-on-small-only">
    <div class="social-media">
      <%= link_to fa_icon('twitter'), "https://twitter.com/milieucities", title: "Find us on Twitter", class: "overshadow"  %>
      <%= link_to fa_icon('instagram'),"https://www.instagram.com/milieucities/", title: "Find us on Instagram", class: "overshadow"  %>
       <%= link_to fa_icon('facebook'), "https://facebook.com/milieuapp/", title: "Find us on Facebook", class: "overshadow"  %>
       <%= link_to fa_icon('linkedin'), "https://www.linkedin.com/company/milieu.io", title: "Find us on Medium", class: "overshadow "  %>
      <%= link_to fa_icon('medium'), "https://medium.com/@milieucities", title: "Find us on Medium", class: "overshadow "  %>
    </div>
    <div class="business">
      <%= link_to t('nav_bar.contact_us_text'), "#contact-milieu-modal", class: "modal-trigger overshadow" %>
      <%= link_to t('home.terms_of_use_link'), tos_path, class: "overshadow" %>
    </div>
  </div>
</section>
