<section id="home" class="row no-pad">
  <div id="home-map"></div>

  <div class="row-container" style="top: 84px;">

  <div class="legend">

    <div class="title">
      <b><%= t 'home.why_use_milieu.how' %></b>
    </div>

    <div class="item">
      <%= image_tag "consultation.png", class: "icon" %>
      <div class="text"><%= t 'home.why_use_milieu.participate' %></div>
    </div>

    <div class="item">
      <%= image_tag "comment.png", class: "icon" %>
      <div class="text"><%= t 'home.why_use_milieu.learn' %></div>
    </div>

    <div class="item">
      <%= image_tag "vacant.png", class: "icon" %>
      <div class="text"><%= t 'home.why_use_milieu.start' %></div>
    </div>

    <div class="item">
      <%= image_tag "event.png", class: "icon" %>
      <div class="text"><%= t 'home.why_use_milieu.explore' %></div>
    </div>

    <%= link_to t('home.view_map_button'), map_path, class: "mobile-view-map z-depth-1 hoverable hide-on-large-only" %>

  </div>

  <%= link_to t('home.view_map_button'), map_path, class: "view-map z-depth-1 hoverable hide-on-med-and-down" %>

<div class="survey">

  <div class="title"><%= t 'home.survey.header' %></div>

  <%= form_tag("/survey", method: "post") do %>

    <div class="row">
      <div class="input-field col s12">
        <%= text_area_tag :ottawa, nil, class: "materialize-textarea" %>
        <%= label_tag :ottawa, t('home.survey.my_ottawa_label') %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= select_tag :hood, options_for_select(User::VALID_NEIGHBOURHOOD_TYPES) %>
        <%= label_tag :hood, t('home.survey.neighbourhood_label') %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= submit_tag t('home.survey.submit_button'), class: "waves-effect btn enter-map", style: "width: 100%;" %>
      </div>

      <div class="input-field col s12 find">
        <%= t 'home.survey.find_us_on' %>
      </div>

      <div class="input-field col s12 social-links">
        <div class="col s3">
          <%= link_to fa_icon("facebook"), "https://m.facebook.com/milieuapp/", title: "#{t('home.survey.find_us_on')} #{t('home.survey.outlets.facebook')}" %><br/><%= "#{t('home.survey.outlets.facebook')}" %>
        </div>
        <div class="col s3">
          <%= link_to fa_icon("twitter"), "https://twitter.com/milieucities", title: "#{t('home.survey.find_us_on')} #{t('home.survey.outlets.twitter')}" %><br/><%= "#{t('home.survey.outlets.twitter')}" %>
        </div>
        <div class="col s3">
          <%= link_to fa_icon("medium"), "https://medium.com/@milieucities", title: "#{t('home.survey.find_us_on')} #{t('home.survey.outlets.medium')}" %><br/><%= "#{t('home.survey.outlets.medium')}" %>
        </div>
        <div class="col s3">
          <%= link_to fa_icon("instagram"), "https://www.instagram.com/milieucities/", title: "#{t('home.survey.find_us_on')} #{t('home.survey.outlets.instagram')}" %><br/><%= "#{t('home.survey.outlets.instagram')}" %>
        </div>
      </div>
    </div>

   <% end %>

    <div class="terms">
      <%= "#{t('home.survey.terms.by_using')}" %> <%= link_to t('home.survey.terms.link_button'), "#term-modal", class: "modal-trigger" %>.
    </div>
   </div>

 </div>
</section>

<div id="term-modal" class="modal">
  <div class="modal-content">

    <b><%= "#{t('home.term_modal.mission')}" %> </b>

    <p>
      <%= "#{t('home.term_modal.text_01')}" %>
    </p>

    <p>
      <%= "#{t('home.term_modal.text_02')}" %>
    </p>

    <p>
      <%= "#{t('home.term_modal.text_03')}" %>
    </p>

    <b><%= "#{t('home.term_modal.principles')}" %></b>

    <p>

    </p>
      <%= "#{t('home.term_modal.text_04')}" %>
    <p>
      <%= "#{t('home.term_modal.text_05')}" %>
    </p>

    <b><%= "#{t('home.term_modal.data_policy')}" %></b>

    <p>
      <%= "#{t('home.term_modal.text_06')}" %>
    </p>

    <p>
      <%= "#{t('home.term_modal.text_07')}" %>
    </p>

    <b><%= "#{t('home.term_modal.community_standards')}" %></b>

    <p>
      <%= "#{t('home.term_modal.text_08')}" %>
    </p>

    <p>
      <%= "#{t('home.term_modal.text_09')}" %>
    </p>

    <p>
      <%= "#{t('home.term_modal.text_10')}" %>
    </p>

    <p>
      <%= "#{t('home.term_modal.text_11')}" %>
    </p>

    <p>
      <%= "#{t('home.term_modal.text_12')}" %>
    </p>
  </div>
</div>
