<section id="map">
  <div class="legend hide-on-small-only">

    <div class="title">Filter Neighbourhood</div>

    <div class="row">
      <div class="input-field col s12">
        <%= select_tag :neighbourhood, options_for_select(User::VALID_NEIGHBOURHOOD_TYPES), include_blank: true, id: "neighbourhood-filter" %>
        <%= label_tag :neighbourhood %>
      </div>
    </div>

    <div class="title">Filter Status</div>

    <div class="item filter-item" data-filter="consultation">
      <%= image_tag "consultation.png", class: "icon" %>
      <div class="text">Participate in current public consultations</div>
    </div>

    <div class="item filter-item" data-filter="new-development" >
      <%= image_tag "comment.png", class: "icon" %>
      <div class="text">Learn more about new urban developments</div>
    </div>

    <div class="item filter-item" data-filter="vacant-derelict">
      <%= image_tag "vacant.png", class: "icon" %>
      <div class="text">Start a discussion around vacant and derelict sites</div>
    </div>

    <div class="item filter-item" data-filter="events">
      <%= image_tag "event.png", class: "icon" %>
      <div class="text">Explore community events</div>
    </div>
  </div>
  <div id="dev-site-profile"></div>
  <div id="main-map"></div>
  <div id='geocoder-container'></div>
</section>
