{{#empty_array this}}
  <div class="dev-site">
    <div class="title">
      No development sites found
    </div>
  </div>
{{/empty_array}}

{{#each this}}

  <div class="dev-site" id="dev-site-{{this.dev_site.id}}">

  <div class="title">
    {{#check_existence this.dev_site.address}}{{/check_existence}}
  </div>

  <div>
    <a href="/{{../LOCALE}}/dev_sites/{{this.dev_site.id}}">
    <img src="{{this.dev_site.image_url}}" class="display-image">
    </a>
  </div>

  <div class="cat-label">{{#check_existence this.dev_site.title}}{{/check_existence}}</div>

  <div class="row info">

    <div class="col s6 label">Development Id:</div>
    <div class="col s6">{{#check_existence this.dev_site.devID}}{{/check_existence}}</div>

    <div class="col s6 label">Application Type:</div>
    <div class="col s6">{{#check_existence this.dev_site.application_type}}{{/check_existence}}</div>

    <div class="col s6 label">Ward Name:</div>
    <div class="col s6">{{#check_existence this.dev_site.ward_name}}{{/check_existence}}</div>

    <div class="col s6 label">Ward Number:</div>
    <div class="col s6">{{#check_existence this.dev_site.ward_num}}{{/check_existence}}</div>

  </div>
  <a href="/{{../LOCALE}}/dev_sites/{{this.dev_site.id}}" class="waves-effect waves-light btn">View Development</a>
  </div>

{{/each}}
