<div class="small-container container">

  <h1 class="center">Sign In</h1>

  <%= form_tag sessions_path, class: "login-form" do %>


    <div class="row">
    <div class="input-field col s12">
      <%= text_field_tag :email, params[:email], placeholder: "Email" %>

      <%= password_field_tag :password, placeholder: "Password" %>
    </div>
    </div>
    <div class="actions">
      <%= submit_tag "Sign In", class: 'waves-effect btn' %>
    </div>

  <% end %>

  <%= link_to "Sign Up", new_user_path, class: "signup-link" %>

</div>