<div class="small-container container">

  <h1 class="center-align"><%= t 'sessions.new.signin' %></h1>

  <%= form_for :session, url: sessions_path, html: { class: 'one-page-form' } do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label :email, t('sessions.new.email') %>
        <%= f.text_field :email %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.label :password, t('sessions.new.password') %>
        <%= f.password_field :password %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= submit_tag "#{t('sessions.new.signin')}", class: 'btn' %>
        <%= link_to "#{t('sessions.new.signup')}", new_user_path, class: "btn transparent" %>
      </div>
    </div>
  <% end %>

</div>
