<div class="nested-fields">
  <%= f.label :street %><br>
  <%= f.text_field :street %>
  <%= f.label :latitude %><br>
  <%= f.text_field :lat %>
  <%= f.label :longitude %><br>
  <%= f.text_field :lon %>
  <%= link_to_remove_association 'remove address', f %>
</div>
