<%= form_for @dev_site, html: { class: "one-page-form" } do |f| %>

  <div class="row">

  <div class="input-field col s12">
    <%= f.text_field :title %>
    <%= f.label :title %>
  </div>

  <div class="input-field col s12 m6">
    <%= f.text_field :devID %>
    <%= f.label :devID, "Development Id" %>
  </div>

  <div class="input-field col s12 m6">
   <%= f.select :application_type, options_for_select(DevSite::VALID_APPLICATION_TYPES, selected: @dev_site.application_type ) %>
    <%= f.label :application_type, "Application Type" %>
  </div>

  <div class="input-field col s12">
    <%= f.url_field :image_url %>
    <%= f.label :image_url, "Image Url" %>
  </div>

  <div class="input-field col s12 m6">
    <%= f.text_field :ward_name %>
    <%= f.label :ward_name, "Ward Name" %>
  </div>

  <div class="input-field col s12 m6">
    <%= f.number_field :ward_num %>
    <%= f.label :ward_num, "Ward Number"%>
  </div>

  <div class="input-field col s12">
    <%= f.text_area :description, class: "materialize-textarea" %>
    <%= f.label :description %>
  </div>

  </div>

  <div class="row">

  <h5>Addresses</h5>
  <div class="input-field col s12">
    <% f.fields_for :addresses do |address| %>
      <%= render 'address_fields', :f => address %>
    <% end %>
    <%= link_to_add_association 'Add address', f, :addresses %>
  </div>
  </div>

  <div class="row">

  <h5>Statuses</h5>

  <div class="input-field col s12">
    <% f.fields_for :statuses do |status| %>
      <%= render 'status_fields', :f => status %>
    <% end %>
    <%= link_to_add_association 'Add status', f, :statuses %>
  </div>

  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn" %>
  </div>
<% end %>
