<div class="nested-fields">
  <%= f.label :status %><br>
  <%= f.text_field :status %>
  <%= f.label :status_date %><br>
  <%= f.text_field :status_date %>
  <%= link_to_remove_association 'remove status', f %>
</div>
