<div class="nested-fields">

  <div class="input-field col s12 m6">
    <%= f.select :status, options_for_select(Status::VALID_STATUS_TYPES, selected: f.object.status) %>
    <%= f.label :status %>
  </div>

  <div class="input-field col s12 m6">
    <%= f.text_field :status_date, class: "datepicker" %>
    <%= f.label :status_date, "Status Date" %>
  </div>

  <%= link_to_remove_association 'Remove status...', f %>

</div>
