<div id='dev-site-form'
     data-id="<%= @dev_site.id %>"
     data-application-types="<%= @application_types %>"
     data-statuses="<%= @statuses %>"
     data-notification-options="<%= @notification_options %>"
     data-contact-options="<%= @contact_options %>" >
</div>
