<% if notice %>
  <div class="alert alert-info alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong><%= notice %></strong>
  </div>

<% elsif alert %>
  <div class="alert alert-info alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong><%= alert %></strong>
  </div>
<% end %>
<p>
  <strong>Devid:</strong>
  <%= @dev_site.devID %>
</p>

<p>
  <strong>Application type:</strong>
  <%= @dev_site.application_type %>
</p>

<p>
  <strong>Title:</strong>
  <%= @dev_site.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @dev_site.address %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @dev_site.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @dev_site.long %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dev_site.description %>
</p>

<p>
  <strong>Ward name:</strong>
  <%= @dev_site.ward_name %>
</p>

<p>
  <strong>Ward num:</strong>
  <%= @dev_site.ward_num %>
</p>

<%= rating_for @dev_site, "overall", :disable_after_rate => false, :star => 5, :enable_half => false, :half_show => false, :cancel => true, :cancel_hint => "Cancel this rating!" %>

<%= render partial: "comments/comments", locals: { commentable: @dev_site } %>
<%= render partial: "comments/form", locals: { commentable: @dev_site } %>

<%= link_to 'Edit', edit_dev_site_path(@dev_site) %> |
<%= link_to 'Back', dev_sites_path %>
