<section id="dev-site-show">

  <div class="container">

  <%= link_to fa_icon("arrow-left", text: "Back to Map"), map_path, class: "back-to-map" %><br/><br/>

  <div class="title">
    <%= @dev_site.addresses.empty? ? @dev_site.title : @dev_site.addresses.first.street %>
  </div>

  <div class="row">
    <div class="col s12 m12 l7">
      <div id="slides">
       <%= image_tag (@dev_site.image_url), class: "display-image" %>
      </div>
    </div>
    <div class="col s12 m12 l5">

      <div class="row info">

        <div class="col s6 label">Development Id:</div>
        <div class="col s6"><%= @dev_site.devID.present? ? @dev_site.devID : "N/A" %></div>

        <div class="col s6 label">Application Type:</div>
        <div class="col s6"><%= @dev_site.application_type.present? ? @dev_site.application_type : "N/A" %></div>

        <div class="col s6 label">Ward Name:</div>
        <div class="col s6"><%= @dev_site.ward_name.present? ? @dev_site.ward_name : "N/A" %></div>

        <div class="col s6 label">Ward Number:</div>
        <div class="col s6"><%= @dev_site.ward_num.present? ? @dev_site.ward_num : "N/A" %></div>

        <div class="col s6 label">Votes:</div>

        <div class="col s6">
          <% if signed_in? %>
            <%= link_to upvote_dev_site_path(@dev_site), method: :put do %>
              <i class="fa fa-thumbs-o-up fa-2x upvote"></i>
              <%= @dev_site.get_upvotes.size %>
            <% end %>

            <%= link_to downvote_dev_site_path(@dev_site), method: :put do %>
              <i class="fa fa-thumbs-o-down fa-2x downvote"></i>
              <%= @dev_site.get_downvotes.size %>
            <% end %>
          <% else %>
            <%= link_to "#sign-in-modal", class: "modal-trigger" do %>
              <i class="fa fa-thumbs-o-up fa-2x upvote"></i>
              <%= @dev_site.get_upvotes.size %>
            <% end %>

            <%= link_to "#sign-in-modal", class: "modal-trigger" do %>
              <i class="fa fa-thumbs-o-down fa-2x downvote"></i>
              <%= @dev_site.get_downvotes.size %>
            <% end %>
          <% end %>
        </div>

        <div class="row" style="max-width: 400px;">
          <div class="col s12">
              <% if @dev_site.statuses.present? %>
                <table class="striped">
                  <thead>
                    <tr>
                        <th>Status</th>
                        <th>Status Date</th>
                    </tr>
                  </thead>

                  <tbody>
                  <% @dev_site.statuses.each do |status| %>
                    <tr>
                      <td><%= status.status.html_safe || "N/A" %></td>
                      <td><%= status.status_date.present? ? status.status_date.strftime("%B %e, %Y") : "N/A" %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              <% end %>
          </div>
        </div>

        <% if @dev_site.urban_planner_email.present? %>
        <div class="row">
          <div class="col s12">
            <%= link_to fa_icon("envelope-o", text: " Contact Planner"),
            "#contact-file-lead-modal", class: "modal-trigger btn" %>
          </div>
        </div>
        <% end %>

        <% if @dev_site.ward_councillor_email.present? %>
        <div class="row">
          <div class="col s12">
            <%= link_to fa_icon("envelope-o", text: " Contact Councillor"),
            "#contact-councillor-modal", class: "modal-trigger btn" %>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>


  <div class="row">
    <div class="col s12 m12 l6" style="max-width: 750px">
      <h5>Description</h5>
      <p><%= @dev_site.description.present? ? markdown(@dev_site.description) : "No description present." %></p>

      <% if @dev_site.files.present? || @dev_site.city_files.present? %>
      <h5>Files</h5>
      <ul class="files">
        <% @dev_site.files.each do |file| %>
          <li><%= fa_icon("file-o") %><%= link_to File.basename(file.path), file.url %></li>
        <% end %>

        <% @dev_site.city_files.each do |file| %>
          <li><%= fa_icon("file-o") %><%= link_to file.name, file.link %></li>
        <% end %>
      </ul>
      <% end %>
    </div>

    <div  class="col s12 m12 l6">
      <h5>Comment</h5>

      <%= react_component "Comments", { devSiteId: @dev_site.id, userId: @user.id,
        authenticityToken: form_authenticity_token, locale: @locale } %>

    </div>

  </div>


    <%= link_to fa_icon("pencil", text: "Edit"), edit_dev_site_path(@dev_site), class: "btn" if signed_in? && current_user.role == 'City Official' %>
    <%= link_to "Delete", dev_site_path(@dev_site), data: {:confirm => 'Are you sure you want to delete this application?'}, class: "red btn", method: :delete if signed_in? && current_user.role == 'City Official' %>

  </div>


</section>


<div id="contact-file-lead-modal" class="modal">
  <div class="modal-content">
    <%= form_tag "/contact_file_lead", id: "contact-file-lead", remote: :true do %>
      <h4>Contact Lead Planner</h4>

      <div class="row">
        <div class="col input-field s12">
          <h6><i><%= @dev_site.urban_planner_email %></i></h6>
        </div>
      </div>

      <%= hidden_field_tag 'dev_site_id', @dev_site.id %>

      <div class="row">
        <div class="col input-field s12 m6">
          <%= text_field_tag 'name', nil, placeholder: 'Mark Ruffalo' %>
          <%= label_tag :name %>
        </div>
        <div class="col input-field s12 m6">
          <%= text_field_tag 'email', nil, placeholder: 'mark.ruffalo@gmail.com' %>
          <%= label_tag :email %>
        </div>
      </div>
      <div class="row">
        <div class="col input-field s12">
          <%= text_area_tag 'message', nil, class: "materialize-textarea", placeholder: 'Leave a message.' %>
          <%= label_tag :message %>
        </div>
      </div>
      <div class="row">
        <div class="col input-field s12">
          <%= submit_tag "Send", class: "waves-effect waves-light btn modal-action modal-close right" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="contact-councillor-modal" class="modal">
  <div class="modal-content">
    <%= form_tag "/contact_councillor", id: "contact-councillor", remote: :true do %>
      <h4>Contact Councillor</h4>

      <div class="row">
        <div class="col input-field s12">
          <h6><i><%= @dev_site.ward_councillor_email %></i></h6>
        </div>
      </div>

      <%= hidden_field_tag 'dev_site_id', @dev_site.id %>

      <div class="row">
        <div class="col input-field s12 m6">
          <%= text_field_tag 'name', nil, placeholder: 'Mark Ruffalo' %>
          <%= label_tag :name %>
        </div>
        <div class="col input-field s12 m6">
          <%= text_field_tag 'email', nil, placeholder: 'mark.ruffalo@gmail.com' %>
          <%= label_tag :email %>
        </div>
      </div>
      <div class="row">
        <div class="col input-field s12">
          <%= text_area_tag 'message', nil, class: "materialize-textarea", placeholder: 'Leave a message.' %>
          <%= label_tag :message %>
        </div>
      </div>
      <div class="row">
        <div class="col input-field s12">
          <%= submit_tag "Send", class: "waves-effect waves-light btn modal-action modal-close right" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>


</div>
