<section id="dev-site-show" class="container">
  <%= link_to fa_icon("pencil"), edit_dev_site_path(@dev_site), class: "btn-floating right" %>
  <div class="row">
    <div class="col s12 m7">
      <%= image_tag (@dev_site.image_url.present? ? @dev_site.image_url : "mainbg.jpg" ), class: "display-image materialboxed" %>
    </div>
    <div class="col s12 m5">
      <h2><%= @dev_site.title%></h2>

      <div class="row info">

        <div class="col s6 label">Development Id:</div>
        <div class="col s6"><%= @dev_site.devID.present? ? @dev_site.devID : "N/A" %></div>

        <div class="col s6 label">Application Type:</div>
        <div class="col s6"><%= @dev_site.application_type.present? ? @dev_site.application_type : "N/A" %></div>

        <div class="col s6 label">Ward Name:</div>
        <div class="col s6"><%= @dev_site.ward_name.present? ? @dev_site.ward_name : "N/A" %></div>

        <div class="col s6 label">Ward Number:</div>
        <div class="col s6"><%= @dev_site.ward_num.present? ? @dev_site.ward_num : "N/A" %></div>

        <% if @dev_site.statuses.present? %>
        <div class="col s6 label">Status:</div>
        <div class="col s6"><%= @dev_site.statuses.last.status || "N/A" %></div>

        <div class="col s6 label">Status Date:</div>
        <div class="col s6"><%= @dev_site.statuses.last.status_date || "N/A" %></div>
        <% end %>

        <div class="col s12">
          <h5>Rate</h5>
          Location: <%= rating_for @dev_site, "location", :disable_after_rate => false, :star => 5, :enable_half => false, :half_show => false, :cancel => true, :cancel_hint => "Cancel this rating!" %>
          Application Type: <%= rating_for @dev_site, "app_type", :disable_after_rate => false, :star => 5, :enable_half => false, :half_show => false, :cancel => true, :cancel_hint => "Cancel this rating!" %>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <h5>Description</h5>
      <p><%= @dev_site.description.present? ? @dev_site.description : "No description present." %></p>
    </div>
  </div>


  <div style="max-width: 500px">
  <%= render partial: "comments/comments", locals: { commentable: @dev_site } %>
  <%= render partial: "comments/form", locals: { commentable: @dev_site } %>
  </div>
</section>




