<%= form_for @user, html: { class: "one-page-form" } do |f| %>

  <%= f.hidden_field :role, value: params[:role] %>

  <div class="row">
    <div class="input-field col m6 s12">
      <%= f.text_field :first_name %>
      <%= f.label :first_name, "First Name" %>
    </div>

    <div class="input-field col m6 s12">
      <%= f.text_field :last_name %>
      <%= f.label :last_name, "Last Name" %>
    </div>

    <div class="input-field col s12">
      <%= f.email_field :email %>
      <%= f.label :email  %>
    </div>

    <div class="input-field col s12">
      <%= f.text_field :username %>
      <%= f.label :user_name, "Username" %>
    </div>

    <div class="input-field col m6 s12">
    <%= f.password_field :password %>
    <%= f.label :password %>
    </div>

    <div class="input-field col m6 s12">
    <%= f.password_field :password_confirmation %>
    <%= f.label :password_confirmation %>
    </div>

    <div class="input-field col s12">
      <%= f.text_area :bio, class: "materialize-textarea" %>
      <%= f.label :bio  %>
    </div>

    <div class="input-field col s12">
      <h4>Role</h4>
      <%= f.radio_button :role, 'Public', :checked => true %>
      <%= f.label :role_public, 'Public'  %>
      <br />
      <%= f.radio_button :role, 'City Planner' %>
      <%= f.label :role_planner, 'City Planner'  %>
      <br />
      <%= f.radio_button :role, 'Organization' %>
      <%= f.label :role_organization, 'Organization'  %>
      <br />
      <%= f.radio_button :role, 'Developer' %>
      <%= f.label :role_developer, 'Developer'  %>
    </div>
  </div>


  <%= content_tag :button, "Submit", type: :submit, class: "waves-effect waves-light btn submit" %>

<% end %>