<%= form_for @user, html: { class: "one-page-form" } do |f| %>

  <%= f.hidden_field :role, value: params[:role], id: "role" %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.email_field :email %>
      <%= f.label :email  %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :username %>
      <%= f.label :username  %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col m6 s12">
      <%= f.password_field :password %>
      <%= f.label :password %>
    </div>

    <div class="input-field col m6 s12">
      <%= f.password_field :password_confirmation %>
      <%= f.label :password_confirmation %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col m6 s12">
      <%= f.text_field :address %>
      <%= f.label :address, "Postal Code (optional)" %>
    </div>
    <div class="input-field col m6 s12">
      <%= f.select :neighbourhood, options_for_select(User::VALID_NEIGHBOURHOOD_TYPES, selected: @user.neighbourhood), include_blank: true %>
      <%= f.label :neighbourhood %>
    </div>
  </div>

  <%= content_tag :button, "Submit", type: :submit, class: "waves-effect waves-light btn submit" %>

<% end %>