<div id="users">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Signed up</th>
          <th>Receive Newsletter</th>
          <th>Verified Status</th>
          <th>Verification</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.profile.name  %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at %></td>
          <td><%= user.notification.newletter %></td>
          <td><%= user.profile.verification_status %></td>
          <td>
            <% if user.profile.verification_status === 'pendingVerification' %>
              <%= link_to 'Verify', user_path(user, user: { profile_attributes: { id: user.profile.id, verification_status: 'verified' }}), method: :put, remote: :true, id: 'verify-role', class: 'btn small' %></td>
            <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
