<%= form_for @user, html: { class: "one-page-form" } do |f| %>

  <div class="row">
    <div class="col s12">
      <h2><%= t '.title' %></h2>
    </div>
  </div>

  <%= f.fields_for :profile do |profile| %>

    <div class="row">
      <div class="input-field col s12">
        <%= profile.label :name %>
        <%= profile.text_field :name %>
      </div>
    </div>

  <% end %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :email  %>
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col m6 s12">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="input-field col m6 s12">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <%= f.fields_for :profile do |profile| %>

    <div class="row">
      <div class="input-field col s12 m6">
        <%= profile.label :postal_code %>
        <%= profile.text_field :postal_code %>
      </div>
      <div class="input-field col s12 m6">
        <%= profile.label :neighbourhood %>
        <%= profile.select :neighbourhood, options_for_select(Profile::VALID_NEIGHBOURHOOD_TYPES), include_blank: true %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <small>
          <%= profile.check_box :accepted_terms %> <%= t '.accept' %> <a href="/legal/privacy" target='_blank' ><b><%= t '.terms' %></b></a>
        </small>
      </div>
    </div>

  <% end %>

  <div class="row">
    <div class="input-field col s12">
      <%= submit_tag "#{t('.submit')}", class: 'btn' %>
    </div>
  </div>

<% end %>
