<% title t('terms_of_use_header_text') + " - " %>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h1><%= t('terms_of_use_header_text') %></h1>
      <h2><%= t('term_of_use.introduction.title') %></h2>
      <ul>
        <li><%= t('term_of_use.introduction.statement001') %></li>
        <li><%= t('term_of_use.introduction.statement002') %></li>
        <li><%= t('term_of_use.introduction.statement003') %></li>
        <li><%= t('term_of_use.introduction.statement004') %></li>
      </ul>
      <h2><%= t('term_of_use.creating_an_account.title') %></h2>
      <ul>
        <li><%= t('term_of_use.creating_an_account.statement001') %></li>
        <li><%= t('term_of_use.creating_an_account.statement002') %></li>
        <li><%= t('term_of_use.creating_an_account.statement003') %></li>
      </ul>
      <h2><%= t('term_of_use.posting_on_milieu.title') %></h2>
      <ul>
        <li><%= t('term_of_use.posting_on_milieu.statement001') %></li>
        <li><%= t('term_of_use.posting_on_milieu.statement002') %></li>
        <li><%= t('term_of_use.posting_on_milieu.statement003') %></li>
        <li><%= t('term_of_use.posting_on_milieu.statement004') %></li>
        <li><%= t('term_of_use.posting_on_milieu.statement005') %></li>
        <li><%= t('term_of_use.posting_on_milieu.statement006') %></li>
      </ul>
      <h2><%= t('term_of_use.respecting_integrity_of_platform.title') %></h2>
      <ul>
        <li><%= t('term_of_use.respecting_integrity_of_platform.statement001') %></li>
        <li><%= t('term_of_use.respecting_integrity_of_platform.statement002') %></li>
        <li><%= t('term_of_use.respecting_integrity_of_platform.statement003') %></li>
      </ul>
      <h2><%= t('term_of_use.intellectual_property.title') %></h2>
      <ul>
        <p><%= t('term_of_use.intellectual_property.statement001') %></p>
        <p><%= t('term_of_use.intellectual_property.statement002') %></p>
      </ul>
      <h2><%= t('term_of_use.disclaimer_of_warranty.title') %></h2>
      <ul>
        <li><%= t('term_of_use.disclaimer_of_warranty.statement001') %></li>
      </ul>
      <h2><%= t('term_of_use.limitation_of_liability.title') %></h2>
      <ul>
        <li><%= t('term_of_use.limitation_of_liability.statement001') %></li>
        <li><%= t('term_of_use.limitation_of_liability.statement002') %></li>
      </ul>
      <h2><%= t('term_of_use.severability.title') %></h2>
      <ul>
        <li><%= t('term_of_use.severability.statement001') %></li>
        <li><%= t('term_of_use.severability.statement002') %></li>
      </ul>
      <h2><%= t('term_of_use.change_of_terms.title') %></h2>
      <ul>
        <li><%= t('term_of_use.change_of_terms.statement001') %></li>
      </ul>
      <h3><%= t('term_of_use.change_log.title') %></h3>
      <ul>
        <li><%= t('term_of_use.change_log.statement001') %></li>
      </ul>
      <% title t('privacy.title') + " - " %>
 <!-- privacy session -->
<article id='privacy'>
    <div class="row">
      <div class="col s12">
        <br/><br/>
        <h1><%= t('privacy.title') %></h1>
        <h2><%= t('privacy.information_collection.title') %></h2>
        <ul>
          <li><%= t('privacy.information_collection.statement001') %></li>
          <li><%= t('privacy.information_collection.statement002') %></li>
          <li><%= t('privacy.information_collection.statement003') %></li>
          <li><%= t('privacy.information_collection.statement004') %></li>
          <li><%= t('privacy.information_collection.statement005') %></li>
          <li><%= t('privacy.information_collection.statement006') %></li>
          <li><%= t('privacy.information_collection.statement007') %></li>
          <li><%= t('privacy.information_collection.statement008') %></li>
          <li><%= t('privacy.information_collection.statement009') %></li>
          <li><%= t('privacy.information_collection.statement010') %></li>
        </ul>
        <h2><%= t('privacy.log_data.title') %></h2>
        <ul>
          <li><%= t('privacy.log_data.statement001') %></li>
        </ul>
        <h2><%= t('privacy.cookies.title') %></h2>
        <ul>
          <li><%= t('privacy.cookies.statement001') %></li>
        </ul>
        <h2><%= t('privacy.third_party_links.title') %></h2>
        <ul>
          <li><%= t('privacy.third_party_links.statement001') %></li>
        </ul>
        <h2><%= t('privacy.email_links.title') %></h2>
        <ul>
          <li><%= t('privacy.email_links.statement001') %></li>
        </ul>
        <h2><%= t('privacy.security.title') %></h2>
        <ul>
          <li><%= t('privacy.security.statement001') %></li>
          <li><%= t('privacy.security.statement002') %></li>
        </ul>
        <h2><%= t('privacy.changes_to_privacy_policy.title') %></h2>
        <ul>
          <li><%= t('privacy.changes_to_privacy_policy.statement001') %></li>
        </ul>
        <h2><%= t('privacy.compliance.title') %></h2>
        <ul>
          <li><%= t('privacy.compliance.statement001') %></li>
        </ul>
        <h2><%= t('privacy.legal_disclaimer.title') %></h2>
        <ul>
          <li><%= t('privacy.legal_disclaimer.statement001') %></li>
        </ul>
        <h2><%= t('privacy.scope.title') %></h2>
        <ul>
          <li><%= t('privacy.scope.statement001') %></li>
        </ul>
        <h2><%= t('privacy.contact_us.title') %></h2>
        <ul>
          <li><%= t('privacy.contact_us.statement001') %></li>
        </ul>
        <h3><%= t('privacy.change_log.title') %></h3>
        <ul>
          <li><%= t('privacy.change_log.statement001') %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
