<div id="contact-milieu-modal" class="modal">
  <div class="modal-content">
    <%= form_for :contact_milieu, url: contact_milieu_path, html: { id: "contact-milieu" }, remote: :true do |f| %>
      <h4><%= t('contact-milieu-modal.header-text') %></h4>
      <div class="row">
        <div class="col input-field s12 m6">
          <%= f.label :name, t('contact-milieu-modal.name-label') %>
          <%= f.text_field :name, required: true %>
        </div>
        <div class="col input-field s12 m6">
          <%= f.label :email, t('contact-milieu-modal.email-label')  %>
          <%= f.text_field :email, required: true %>
        </div>
      </div>
      <div class="row">
        <div class="col input-field s12">
          <%= f.label :message, t('contact-milieu-modal.message-label') %>
          <%= f.text_area :message, class: "materialize-textarea", required: true %>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <%= f.submit t('contact-milieu-modal.send-button'), class: "waves-effect waves-light btn modal-action modal-close right" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
