<section id="nav">
  <%= link_to image_tag("white-logo.png"), "#", class: "nav-logo" %>

  <form>
    <div class="input-field">
      <%= fa_icon "search", class: "prefix no-pad" %>
      <input type="text" />
    </div>
  </form>

  <ul>
    <% if signed_in? %>
      <li><%= link_to "Sign Out", session_path(id: "nothing"), method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign In", new_session_path %></li>
    <% end %>
    <li><%= link_to "Settings", "#" %></li>
    <li><%= link_to "Notifications", "#" %></li>
    <li><%= link_to "Community", "#" %></li>
  </ul>
  
</section>
