<% unless @no_header %>

  <nav class="nav">
    <div class="logo hide-on-med-and-down">
      <%= link_to image_tag("milieulogo-02.svg"), root_path, class: "nav-logo" %>
      <%= link_to t('nav_bar.slogan'), root_path, class: "building" %>
    </div>

    <ul id="slide-out" class="side-nav">
      <%= link_to image_tag("milieulogo-02.svg"), root_path, class: "nav-logo" %>
      <li><%= link_to t('nav_bar.map_link_text'), map_path, title: t('nav_bar.map_link_text') %></li>
      <li><%= link_to t('nav_bar.about_link_text'), "http://about.milieu.io", title: t('nav_bar.about_link_text') %></li>
      <% if signed_in? %>
      <li><%= link_to t('nav_bar.sign_out_text'), session_path(id: "nothing"), method: :delete, title: t('nav_bar.sign_out_text') %></li>
      <% else %>
      <li><%= link_to t('nav_bar.sign_in_text'), "#sign-in-modal", title: t('nav_bar.sign_in_text'), class: "modal-trigger" %></li>
      <% end %>
      <li><%= link_to t('nav_bar.contact_us_text'), "#contact-milieu-modal", title: t('nav_bar.contact_us_text'), class: "modal-trigger" %></li>
      <li><%= link_to "EN", request.original_url.gsub("/fr/", "/en/"), class: 'deep-purple accent-1' %></li>
      <li><%= link_to "FR", request.original_url.gsub("/en/", "/fr/"), class: 'deep-purple accent-1' %></li>
    </ul>

    <ul class="right hide-on-med-and-down">

      <li><%= link_to t('nav_bar.map_link_text'), map_path, title: t('nav_bar.map_link_text') %></li>
      <li><%= link_to t('nav_bar.about_link_text'), "http://about.milieu.io", title: t('nav_bar.about_link_text') %></li>
      <% if signed_in? %>
      <li><%= link_to t('nav_bar.sign_out_text'), session_path(id: "nothing"), method: :delete, title: t('nav_bar.sign_out_text') %></li>
      <% else %>
      <li><%= link_to t('nav_bar.sign_in_text'), "#sign-in-modal", title: t('nav_bar.sign_in_text'), class: "modal-trigger" %></li>
      <% end %>
      <li><%= link_to t('nav_bar.contact_us_text'), "#contact-milieu-modal", title: t('nav_bar.contact_us_text'), class: "modal-trigger" %></li>
      <li><%= link_to "EN", request.original_url.gsub("/fr/", "/en/"), class: 'deep-purple accent-1' %></li>
      <li><%= link_to "FR", request.original_url.gsub("/en/", "/fr/"), class: 'deep-purple accent-1' %></li>
    </ul>

    <a href="#" data-activates="slide-out" class="button-collapse" style="margin-left: 20px"><i class="mdi-navigation-menu"></i></a>
  </nav>

<% end %>
