<% unless @no_header %>
<section id="nav">
  <%= link_to image_tag("white-logo.png"), root_path, class: "nav-logo" %>

  <ul>
    <li><%= link_to "Map", map_path %></li>
    <li><%= link_to "About", "https://leemichael-pronko-hlty.squarespace.com/#milieu", title: "About" %></li>
    <% if signed_in? %>
      <li><%= link_to "Sign Out", session_path(id: "nothing"), method: :delete, title: "Sign Out" %></li>
    <% else %>
      <li><%= link_to "Sign In", new_session_path, title: "Sign In" %></li>
    <% end %>
    <li><%= link_to "Contact", "#contact-milieu-modal", title: "Contact Milieu", class: "modal-trigger" %></li>

  </ul>
  
</section>
<% end %>
