<div id="sign-in-modal" class="modal">
  <div class="modal-content">
    <a href="/auth/facebook" class="omni fb"><%= fa_icon "facebook" %> Continue with Facebook </a>
    <a href="/auth/google" class="omni google"><%= fa_icon "google" %> Continue with Google </a>

    <div class="or">
      or
    </div>

    <%= form_for :session, url: sessions_path, html: { class: 'login-form' } do |f| %>
      <div class="input-field">
        <%= f.label :email, t('sign-in-modal.email-label') %>
        <%= f.text_field :email, autocomplete: 'off' %>
      </div>
      <div class="input-field">
        <%= f.label :password, t('sign-in-modal.password-label') %>
        <%= f.password_field :password, autocomplete: 'off' %>
      </div>
      <%= f.submit t('sign-in-modal.sign-in-button'), class: 'btn' %>
    <% end %>

    <div class="row">
      <small>New to Mileu?</small><br/>
      <%= link_to t('sign-in-modal.sign-up-button'), new_user_path, class: "signup-link" %>
    </div>

    <small class="center">By signing in, you accept <b><%= link_to t('home.terms_of_use_link'), tos_path %></b>.</small>
  </div>
</div>
