<!DOCTYPE html>
<html>
<head>
  <title>MILIEU</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= favicon_link_tag 'favicon.ico' %>

  <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3i1Xy08ztd88pd4CTQPRN9-C_dOtSsxs&libraries=places"></script>

  <!-- Font Styles -->
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,500,700,900' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  <!-- Map Box Js -->
  <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />

  <!-- Map Box GL Js-->
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.css' rel='stylesheet' />

  <!-- Map Box Geocoder-->
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.0.0/mapbox-gl-geocoder.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.0.0/mapbox-gl-geocoder.css' type='text/css' />

  <!-- Marker Clustering -->
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

  <!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76310237-1', 'auto');
  ga('send', 'pageview');

</script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body data-locale="<%= I18n.locale %>">
  <%= render "layouts/nav" %>
  <%= render "layouts/flash", :flash => flash %>
  <%= yield %>
  <%= javascript_include_tag "vendor", :debug => false %>

  <div id="sign-in-modal" class="modal">

    <div class="modal-content">
      <h4 class="center">Sign In</h4>

      <%= form_tag sessions_path, class: "login-form" do %>

        <div class="row">
          <div class="input-field col s12">
            <%= text_field_tag :email, params[:email], class: 'hide' %>
            <%= text_field_tag :email, params[:email], autocomplete: 'off' %>
            <%= label_tag "Email" %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= password_field_tag :password, nil, class: 'hide' %>
            <%= password_field_tag :password, nil, autocomplete: 'off' %>
            <%= label_tag "Password" %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= submit_tag "Sign In", class: 'waves-effect btn' %>
          </div>
        </div>

      <% end %>

      <%= link_to "Sign Up", new_user_path, class: "signup-link" %>
    </div>
  </div>

  <div id="contact-milieu-modal" class="modal">
    <div class="modal-content">
      <%= form_tag "/contact_milieu", id: "contact-milieu", remote: :true do %>
        <h4>Contact Milieu</h4>
        <div class="row">
          <div class="col input-field s12 m6">
            <%= text_field_tag 'name', nil %>
            <%= label_tag :name %>
          </div>
          <div class="col input-field s12 m6">
            <%= text_field_tag 'email', nil %>
            <%= label_tag :email %>
          </div>
        </div>
        <div class="row">
          <div class="col input-field s12">
            <%= text_area_tag 'message', nil, class: "materialize-textarea" %>
            <%= label_tag :message %>
          </div>
        </div>
        <div class="row">
          <div class="col input-field s12">
            <%= submit_tag "Send", class: "waves-effect waves-light btn modal-action modal-close right" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</body>

</html>
