<!DOCTYPE html>
<html>
<head>
  <title>MILIEU</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:700,500,400,300' rel='stylesheet' type='text/css'>
  <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>

  <!-- Marker Clustering -->
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

  <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render "layouts/nav" %>
  <%= render "layouts/flash", :flash => flash %>
  <%= yield %>
  <%= javascript_include_tag "vendor", :debug => false %>
</body>

</html>
