<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<%= render "layouts/head"%>
<body data-locale="<%= I18n.locale %>"
      data-signed-in="<%= signed_in? %>"
      <% if signed_in? %>
      data-user-id="<%= current_user.id %>"
      data-user-slug="<%= current_user.slug %>"
      data-user-roles="<%= current_user.roles.pluck(:name).join(',') %>"
      data-user-name="<%= current_user.profile.name %>"
      data-user-profile-id="<%= current_user.profile.id %>"
      data-user-primary-organization-id="<%= current_user.organizations.first.try(:id) %>"
      data-user-organization="<%= current_user.profile.organization %>"
      data-user-community-role="<%= current_user.profile.community_role %>"
      data-user-verification-status="<%= current_user.profile.verification_status %>"
      data-user-avatar="<%= current_user.profile.avatar.web.preview.url %>"
      <% end %>
      >
  <%= render "layouts/nav" %>
  <%= render "layouts/flash", :flash => flash %>
  <%= yield %>
  <%= render "layouts/signin_modal" %>
</body>
</html>
