<!DOCTYPE html>
<html>
<%= render "layouts/head"%>
<body data-locale="<%= I18n.locale %>" data-user-id="<%= current_user.id %>">
  <%= render "layouts/nav" %>
  <%= render "layouts/flash", :flash => flash %>
  <%= yield %>
  <%= render "layouts/signin_modal" %>
  <%= render "layouts/contact_modal" %>
  <%= render "layouts/webpack" %>
</body>
</html>
