<!DOCTYPE html>
<html>
<%= render "layouts/head"%>
<body data-locale="<%= I18n.locale %>">
  <%= render "layouts/flash", :flash => flash %>
  <%= yield %>
  <%= javascript_include_tag "vendor", :debug => false %>
  <%= render "layouts/signin_modal" %>
  <%= render "layouts/contact_modal" %>
  <%= render "layouts/webpack" %>
</body>
</html>
